{% extends "layout/base.html" %}

{% block content %}
<main class="container py-5">

      <section class="card card-body">
          <h1>Bienvenido al Hospital XYZ</h1>
          <p>
              En el Hospital XYZ, nos preocupamos por su salud y bienestar. Nuestro equipo de profesionales médicos altamente calificados está aquí para brindarle la mejor atención médica posible.
          </p>
          <p>
              Ofrecemos una amplia gama de servicios médicos, desde consultas generales hasta cirugías especializadas. No dude en ponerse en contacto con nosotros para programar una cita.
          </p>
      </section>
  
      <section id="hero">
        <h1>Centro de Emergencia </h1>
        <button type="submit" class="btn btn-primary"><a href="Ini/inicio.html">Iniciar sesión</a></button>
    </section>

    <section id="expl">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">
                <h2> <span class="color-acento">Blue Code</span></h2>
                <p>Hola!!, le damos la bienvenida a nuestro centro de Emergencias, aqui podra registrarce segun su jerarqui en este establecimiento y ser notificado de las <b>Emergencias</b> que estan sucediendo.</p>
            </div>
        </div>
    </section>
</main>
{% endblock  %}